@use "../base/reset";
@use "../base/scrollbars";
@use "../abstracts/variables";
@use "../abstracts/placeholders";

@font-face {
  font-family: BravuraText;
  src: url("../../fonts/BravuraText.woff2") format("woff2");
}

@font-face {
  font-family: MaterialSharp;
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/material-sharp.woff2") format("woff2");
}

.i-sharp {
  font-family: MaterialSharp;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: auto;
}

html,
body {
  font-family: BravuraText;
  font-size: 16px;
  color: variables.$font-color;
  height: 100%;
  background-color: variables.$far-bg-color;
  margin: 0;
  padding: 0;
}

body {
  overflow-y: scroll;
}

.page-grid {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 222mm 1fr;
  grid-template-rows: min-content 1fr min-content;
  gap: 6px 6px;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
}

h1.song-title {
  font-size: 36px;
  margin: 0 auto 18px auto;
  text-align: center;
}

h2.composer {
  font-size: 20px;
  margin: 0 auto 10px auto;
  text-align: right;
}

h3.bpm-section {
  font-size: 18px;
}

.header-section,
.footer {
  padding: 6px 0;
}

.mus {
  font-family: BravuraText;
  font-size: 36px;
  -webkit-font-smoothing: antialiased;
}

.top-menu {
  @extend %sticking;
  @extend %widget-shadow;
  width: variables.$paper-width;
  background-color: variables.$paper-bg-color;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  z-index: 3;
}

.A4 {
  width: variables.$paper-width;
  height: 297mm;
  margin: 24px auto;
  background-color: variables.$paper-bg-color;
  box-shadow: 0 0 24px -20px variables.$dark-shadow-color;
  overflow: hidden;
}

.header-section {
  margin: auto;
  width: variables.$paper-width;
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-wrap {
  display: flex;
}

.head-space {
  flex: 1;
  min-width: 286px;
}

.user-menu-wrap {
  display: flex;
  width: 190mm;
  justify-content: space-between;
  position: relative;
  left: -195mm;
  opacity: 0;
  transition: left 600ms ease, opacity 300ms;
}

.user-menu-visible {
  left: 0;
  opacity: 1;
  transition: left 300ms ease, opacity 600ms;
}

.user-menu-clipper {
  display: flex;
  justify-content: space-between;
  width: 190mm;
  overflow: hidden;
}

.left-right-navs {
  min-width: 270px;
  width: 25%;
  display: flex;
  flex: 1;
}

.left-nav {
  @extend .left-right-navs;
  justify-content: flex-end;
}

.left-menu-wrapper {
  @extend %sticking;
  width: 250px;
}

.right-nav {
  @extend .left-right-navs;
}

.top-menu-list,
.user-menu {
  display: flex;
}

.paper-contents {
  margin: 25mm 15mm 20mm 15mm;
}

.duration {
  height: 22px;
  margin: 0;
  display: inline-block;
  background-image: url("../../images/sprites/duration-sprite.svg");
  background-repeat: no-repeat;
  background-size: cover;

  &.dur-4 {
    background-position-x: -37px;
    width: 11px;
  }

  &.dur-8 {
    background-position-x: -54px;
    width: 15px;
  }
}
