@use "../../sass/abstracts/variables";
@use "../../sass/components/buttons";

.footer {
  width: variables.$paper-width;
  margin: 0 auto 24px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    display: flex;
    box-shadow: 0 0 8px -6px variables.$dark-shadow-color;

    li {
      padding: 0;
      margin: 0;
      display: flex;
    }

    a {
      padding: 4px;
      margin: 0;
      text-decoration: none;
      display: inline-block;
      background-color: variables.$paper-bg-color;
      transition: background-color 200ms;
      &:hover {
        background-color: variables.$active-fore-color;
      }

      img {
        display: block;
        padding: 0;
        margin: 0;
        height: 24px;
        transition: opacity 200ms;
      }

      &:hover img {
        opacity: 0.8;
      }
    }
  }

  .small-text {
    font-size: 14px;
  }
}
