@use "static/styles/abstracts/variables";

.header-section {
  margin: auto;
  width: variables.$paper-width;
  padding-top: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

$user-menu-width: 826px;
$user-menu-width-left: -830px;

.user-menu-wrap {
  display: flex;
  width: $user-menu-width;
  justify-content: space-between;
  position: relative;
  left: $user-menu-width-left;
  opacity: 0;
  transition: left 600ms ease, opacity 300ms;
}

.user-menu {
  display: flex;
}

.user-menu-visible {
  left: 0;
  opacity: 1;
  transition: left 300ms ease, opacity 600ms;
}

.user-menu-clipper {
  display: flex;
  justify-content: space-between;
  width: $user-menu-width;
  overflow: hidden;
}

.user-menu button,
.btn-hamburger {
  margin: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  transition: opacity 200ms;
  display: flex;

  &:hover,
  &:focus {
    opacity: 0.6;
  }
}

.user-menu li:not(:last-child) {
  margin-right: 4px;
}

.i-sharp.md-36 {
  font-size: variables.$nav-icon-height;
  color: variables.$font-color;
}

button:disabled,
button:disabled:hover {
  cursor: not-allowed;
  opacity: 0.25;
}

.flag {
  height: variables.$nav-icon-height;
}

.dark {
  .i-sharp.md-36 {
    color: variables.$dark-yellow;
  }
}