@use "static/styles/abstracts/variables";
@use "static/styles/abstracts/placeholders";

.card-wrapper {
  padding: 18px 12px;
  background-color: variables.$paper-bg-color;
  @extend %widget-shadow;
}

.dark {
  .card-wrapper {
    background-color: variables.$active-fore-color-dark;
    @extend %widget-shadow-dark;
  }
}