@use "static/styles/abstracts/variables";
@use "static/styles/abstracts/placeholders";
@use "static/styles/components/buttons";

.top-menu {
  @extend %sticking;
  @extend %widget-shadow;
  width: variables.$paper-width;
  background-color: variables.$paper-bg-color;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  z-index: 3;
  transition: background-color 200ms;
}

.top-menu-list {
  display: flex;
}

.top-menu-list {
  button {
    @extend %button-base;
  }
}

.img-ht {
  height: 30px;
  display: block;
}

.dark {
  .top-menu {
    @extend %widget-shadow-dark;
    background-color: variables.$paper-bg-color-dark;
  }

  .top-menu-list {
    button {
      @extend %button-base;
      @extend %button-base-dark;
      display: flex;
    }
  }
}