@use "static/styles/abstracts/variables";
@use "static/styles/components/widgets";

.assistant.accordion-wrapper {
  @extend %sticking;
}

.assistant-title {
  background-color: variables.$active-fore-color;
  border: none;
  text-align: left;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  display: flex;
  align-items: center;
  padding: 6px;
}

.assistant-title-icon {
  margin-right: 6px;
}

.assistant-body {
  padding: 12px;
  background-color: variables.$paper-bg-color;

  .info-section {
    padding-right: 12px;
    max-height: 300px;
    line-height: 1.4;
  }
}

.assistant-link {
  @extend %links;
}

.dark {
  .assistant-title {
    background-color: variables.$active-fore-color-dark;
    color: variables.$title-color-dark;
  }

  .assistant-title-icon {
    color: variables.$title-color-darker;
  }

  .assistant-body {
    padding: 12px;
    background-color: variables.$paper-bg-color-dark;
  }

  .assistant-link {
    @extend %links-dark;
  }
}