@use "../../sass/abstracts/variables";
@use "sass:math";

.A4 {
  width: variables.$paper-width;
  height: 297mm;
  margin: 24px auto;
  background-color: variables.$paper-bg-color;
  box-shadow: 0 0 24px -20px variables.$dark-shadow-color;
  overflow: hidden;
}
