$guide-line-color: #E5DCD0;
$guide-line-color-dark: #4d5a5e;

.high-color {
  fill: #46879E;
}

.note-color {
  fill: #243041;
}

.note-err-color {
  fill: #9B1800;
}

.main-color {
  fill: #565345;
}

.staff-line-color {
  fill: #BDA37E;
}

.ghost-color {
  fill: #998166;
}

.guide-line-color {
  fill: $guide-line-color;
}

.guide-lines {
  fill: transparent;
  transition: fill 200ms;
}

.measure-root:hover>.guide-lines {
  fill: $guide-line-color;
}

.dark {
  .high-color {
    fill: #389edb;
  }

  .note-color {
    fill: #38c9a9;
  }

  .note-err-color {
    fill: #ff5f57;
  }

  .main-color {
    fill: #8fb2c7;
  }

  .staff-line-color {
    fill: #698a96;
  }

  .ghost-color {
    fill: #288a7d;
  }

  .guide-line-color {
    fill: $guide-line-color-dark;
  }

  .measure-root:hover>.guide-lines {
    fill: $guide-line-color-dark;
  }
}