@use "../abstracts/variables";

.fraction {
  display: inline-block;
  text-align: center;
  vertical-align: middle;

  &::before {
    border-bottom: 1px solid variables.$font-color-faded;
    content: attr(data-top);
    display: block;
    line-height: 1.6em;
    padding: 0 0.2em;
  }

  &::after {
    content: attr(data-bottom);
    display: block;
    line-height: 1.6em;
  }
}

.widget-list-item {
  display: flex;
  align-items: center;
  border: 1px solid variables.$lightest-color;
  padding: 4px 6px;
  margin-right: 12px;
  box-shadow: inset 0 0 16px variables.$lightest-color;
  cursor: move;
  transition: border-color 200ms, box-shadow 200ms, color 200ms;
  user-select: none;

  &:hover {
    box-shadow: inset 0 0 26px variables.$pure-white;
    border-color: variables.$pure-white;
    color: variables.$font-color-faded;
  }

  &:hover img {
    opacity: 0.7;
  }

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  .widget-makam-img {
    width: 25%;
    text-align: right;
    margin-right: 12px;

    img {
      height: 48px;
      transition: opacity 200ms;
    }
  }
}

.widget-usul-rep {
  width: 18%;
  text-align: right;
  margin-right: 12px;
}

.content-scroller {
  overflow-y: scroll;
}

.accordion-wrapper {
  @extend %widget-shadow;
  margin-bottom: 24px;
}

.btn-accordion {
  background-color: variables.$paper-bg-color;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  transition: 200ms;
  display: flex;
  align-items: center;
  padding: 6px 0;
}

.accordion-active,
.btn-accordion:hover {
  background-color: variables.$active-fore-color;
}

.btn-accordion .i-sharp.caret {
  transition: all 200ms;
}

.accordion-active .i-sharp.caret {
  transform: rotate(90deg);
}

.accordion-panel {
  padding: 0 12px;
  background-color: variables.$paper-bg-color;
  max-height: 0;
  overflow: hidden;
  transition: max-height 200ms;
}

.accordion-contents {
  margin: 12px 0;
}

.accordion-buttons-wrap {
  display: flex;
  justify-content: space-between;
}

.accordion-buttons-grid {
  display: grid;
  grid-gap: 6px;
}

.grid-3 {
  grid-template-columns: auto auto auto;
}

.grid-4 {
  grid-template-columns: auto auto auto auto;
}
