@use "variables";

%sticking {
  position: sticky;
  top: 0;
  width: 250px;
}

%widget-shadow {
  box-shadow: 0 0 14px -12px variables.$dark-shadow-color;
}

%widget-shadow-dark {
  box-shadow: 0 0 14px -12px variables.$dark-shadow-color-dark;
}

%links {
  display: inline-block;
  color: inherit;
  font-weight: bold;
  text-decoration: none;
  transition: opacity 200ms;
  margin-top: 12px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }
}