$font-color: rgba(34, 34, 34, 1);
$font-color-faded: rgba(34, 34, 34, 0.6);
$far-bg-color: rgb(243, 241, 224);
$paper-bg-color: rgb(247, 245, 234);
$active-fore-color: rgb(249, 248, 239);
$lightest-color: rgb(252, 251, 242);
$pure-white: rgb(255, 255, 255);
$dark-shadow-color: rgb(20, 20, 20);
$paper-width: 210mm;
