$font-color: rgba(34, 34, 34, 1);
// $font-color-dark: rgb(135, 222, 255);
$font-color-dark: rgb(221, 221, 221);

$font-color-faded: rgba(34, 34, 34, 0.6);
// $font-color-faded-dark: rgb(56, 158, 219);
$font-color-faded-dark: rgba(203, 202, 202, 0.6);

$far-bg-color: rgb(243, 241, 224);
$far-bg-color-dark: rgb(29, 30, 32);

$paper-bg-color: rgb(247, 245, 234);
$paper-bg-color-dark: rgb(36, 39, 41);

$active-fore-color: rgb(249, 248, 239);
$active-fore-color-dark: rgb(40, 43, 45);

$title-color-dark: rgb(102, 167, 193);
$title-color-darker: rgb(56, 158, 219);

$dark-yellow: rgb(221, 185, 116);
$dark-brown: rgb(215, 141, 114);
$dark-purple: rgb(208, 130, 196);
$dark-white: rgb(212, 212, 212);
$dark-green: rgb(175, 207, 164);

$lightest-color: rgb(252, 251, 242);
$lightest-color-dark: rgb(34, 34, 35);

$pure-white: rgb(255, 255, 255);
$pure-white-dark: rgb(30, 30, 31);

$dark-shadow-color: rgb(20, 20, 20);
$dark-shadow-color-dark: rgb(10, 10, 10);

$paper-width: 884px;
$paper-height: 1250px;
$nav-icon-height: 36px;