$font-color: rgba(34, 34, 34, 1);
$font-color-dark: rgba(221, 221, 221, 1);

$font-color-faded: rgba(34, 34, 34, 0.6);
$font-color-faded-dark: rgba(221, 221, 221, 0.6);

$far-bg-color: rgb(243, 241, 224);
$far-bg-color-dark: rgb(12, 14, 31);

$paper-bg-color: rgb(247, 245, 234);
$paper-bg-color-dark: rgb(8, 10, 21);

$active-fore-color: rgb(249, 248, 239);
$active-fore-color-dark: rgb(6, 7, 16);

$lightest-color: rgb(252, 251, 242);
$lightest-color-dark: rgb(3, 4, 13);

$pure-white: rgb(255, 255, 255);
$pure-white-dark: rgb(0, 0, 0);

$dark-shadow-color: rgb(20, 20, 20);
$dark-shadow-color-dark: rgb(235, 235, 235);

$paper-width: 210mm;
$nav-icon-height: 36px;