@use "../abstracts/variables";

%button-base {
  background-color: variables.$paper-bg-color;
  padding: 3px 4px;
  margin: 0;
  cursor: pointer;
  border: none;
  display: block;
  position: relative;
  transition: all 200ms;

  &.active {
    z-index: 1;
    background-color: variables.$lightest-color;
    box-shadow: 0 0 8px -4px #141414;
  }
}

%button-base-dark {
  background-color: variables.$paper-bg-color-dark;

  &.active {
    background-color: rgb(45, 48, 50);
    box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.9);
  }
}